version: '3'
services:
  web:
    build: .
    ports:
      - 8080:8080
    environment:
      PGHOST: db
      PGUSER: postgres
      PGPASSWORD: password
      MIRROR_BASE_URL: https://mirror.bgs.nafarlee.dev
      BGG_API_KEY:
    depends_on:
      - db
  db:
    image: docker.io/postgres:18.0-alpine3.22
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql
