doctype html

h1 #{game.primary_name}
p
  a(href='https://boardgamegeek.com/boardgame/' + game.id) BGG

if game.image
  p
    a(href=game.image) Image

ul
  each value, field in game
    li <strong>#{field}</strong>: #{value}
