.text-center {
  text-align: center;
}

.box-border {
  box-sizing: border-box;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.min-w-max {
  min-width: max-content;
}

.justify-between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-col-1 {
  grid-column: 1;
}

.grid-col-2 {
  grid-column: 2;
}

.grid-col-3 {
  grid-column: 3;
}
