kind: CronJob
apiVersion: batch/v1
metadata:
  name: set-game-id-cliff
spec:
  timeZone: US/Eastern
  schedule: "@weekly"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: default
              image: ghcr.io/nafarlee/bg-search-set-game-id-cliff:e5746026a492a602ea649bd98a28de773b4a12c3
              env:
                - name: PGHOST
                  value: database
                - name: PGUSER
                  value: postgres
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: postgres-password
                      key: postgres-password
                - name: BGG_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: bgg-api-key
                      key: bgg-api-key
