on:
  push:
    paths:
      - Dockerfile
      - package.json
      - package-lock.json
      - shadow-cljs.edn
      - src/**
      - public/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20

      - run: npm ci

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - run: npm t

  package:
    needs: test
    strategy:
      matrix:
        include:
          - build-id: app
            image-name: ${{ github.repository }}-web
          - build-id: set-game-id-cliff
            image-name: ${{ github.repository }}-set-game-id-cliff
          - build-id: pull-games
            image-name: ${{ github.repository }}-pull-games
          - build-id: pull-plays
            image-name: ${{ github.repository }}-pull-plays
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - if: github.ref == 'refs/heads/master'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: ${{ env.REGISTRY}}/${{ matrix.image-name }}:${{ github.sha }}
          build-args: BUILD_ID=${{ matrix.build-id }}
